# Location of the SDK. This is only used by Gradle.
# On Windows, use double backslashes, e.g. C\:\\Users\\Username\\AppData\\Local\\Android\\Sdk
# sdk.dir=C\:\\Users\\YOUR_USERNAME\\AppData\\Local\\Android\\Sdk
